In [5]:
!pip install missingno

Collecting missingno
  Downloading https://files.pythonhosted.org/packages/57/eb/9d7d55ceec57e0e374e70e9ad8d16795ba91960a3c987f3b5ee71d3e8e4d/missingno-0.4.1-py3-none-any.whl
Requirement already satisfied: matplotlib in /root/anaconda3/lib/python3.6/site-packages (from missingno) (3.0.3)
Requirement already satisfied: seaborn in /root/anaconda3/lib/python3.6/site-packages (from missingno) (0.8.1)
Requirement already satisfied: numpy in /root/anaconda3/lib/python3.6/site-packages (from missingno) (1.14.0)
Requirement already satisfied: scipy in /root/anaconda3/lib/python3.6/site-packages (from missingno) (1.0.0)
Requirement already satisfied: python-dateutil>=2.1 in /root/anaconda3/lib/python3.6/site-packages (from matplotlib->missingno) (2.6.1)
Requirement already satisfied: cycler>=0.10 in /root/anaconda3/lib/python3.6/site-packages (from matplotlib->missingno) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /root/anaconda3/lib/python3.6/site-packages (from matplotlib->missingno) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /root/anaconda3/lib/python3.6/site-packages (from matplotlib->missingno) (2.2.0)
Requirement already satisfied: pandas in /root/anaconda3/lib/python3.6/site-packages (from seaborn->missingno) (0.24.2)
Requirement already satisfied: six>=1.5 in /root/anaconda3/lib/python3.6/site-packages (from python-dateutil>=2.1->matplotlib->missingno) (1.11.0)
Requirement already satisfied: setuptools in /root/anaconda3/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib->missingno) (38.4.0)
Requirement already satisfied: pytz>=2011k in /root/anaconda3/lib/python3.6/site-packages (from pandas->seaborn->missingno) (2017.3)
Installing collected packages: missingno
Successfully installed missingno-0.4.1

In [6]:
!pip show missingno

Name: missingno
Version: 0.4.1
Summary: Missing data visualization module for Python.
Home-page: https://github.com/ResidentMario/missingno
Author: Aleksey Bilogur
Author-email: aleksey.bilogur@gmail.com
License: UNKNOWN
Location: /root/anaconda3/lib/python3.6/site-packages
Requires: scipy, matplotlib, seaborn, numpy
Required-by:

In [7]:
import warnings
warnings.filterwarnings('ignore')

In [8]:
import pandas as pd
import numpy as np
import re
from plotnine import *

In [19]:
# 그래프를 노트북 안에 그리기 위해 설정
%matplotlib inline

# 필요한 패키지와 라이브러리를 가져옴
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

# 그래프에서 마이너스 폰트 깨지는 문제에 대한 대처
mpl.rcParams['axes.unicode_minus'] = False

In [20]:
path = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf'
font_name = fm.FontProperties(fname=path, size=50).get_name()
print(font_name)
plt.rc('font', family=font_name)

NanumGothic

In [11]:
df=pd.read_csv('전국_평균_분양가격_2018.6월_.csv',encoding = 'CP949')

In [12]:
df

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
5     인천                 전체  2015  10    3163
6     인천         전용면적 60㎡이하  2015  10    3488
7     인천   전용면적 60㎡초과 85㎡이하  2015  10    3119
8     인천  전용면적 85㎡초과 102㎡이하  2015  10    3545
9     인천        전용면적 102㎡초과  2015  10    3408
10    경기                 전체  2015  10    3138
11    경기         전용면적 60㎡이하  2015  10    3126
12    경기   전용면적 60㎡초과 85㎡이하  2015  10    3239
13    경기  전용면적 85㎡초과 102㎡이하  2015  10    3496
14    경기        전용면적 102㎡초과  2015  10    3680
15    부산                 전체  2015  10    3112
16    부산         전용면적 60㎡이하  2015  10    2950
17    부산   전용면적 60㎡초과 85㎡이하  2015  10    2999
18    부산  전용면적 85㎡초과 102㎡이하  2015  10    2957
19    부산        전용면적 102㎡초과  2015  10    3500
20    대구                 전체  2015  10    2682
21    대구         전용면적 60㎡이하  2015  10    2614
22    대구   전용면적 60㎡초과 85㎡이하  2015  10    2696
23    대구  전용면적 85㎡초과 102㎡이하  2015  10    2557
24    대구        전용면적 102㎡초과  2015  10    2598
25    광주                 전체  2015  10    2420
26    광주         전용면적 60㎡이하  2015  10    2253
27    광주   전용면적 60㎡초과 85㎡이하  2015  10    2439
28    광주  전용면적 85㎡초과 102㎡이하  2015  10
29    광주        전용면적 102㎡초과  2015  10
...   ..                ...   ...  ..     ...
2775  충남                 전체  2018   6    2467
2776  충남         전용면적 60㎡이하  2018   6    2452
2777  충남   전용면적 60㎡초과 85㎡이하  2018   6    2467
2778  충남  전용면적 85㎡초과 102㎡이하  2018   6    2657
2779  충남        전용면적 102㎡초과  2018   6    2580
2780  전북                 전체  2018   6    2326
2781  전북         전용면적 60㎡이하  2018   6    2664
2782  전북   전용면적 60㎡초과 85㎡이하  2018   6    2300
2783  전북  전용면적 85㎡초과 102㎡이하  2018   6    2636
2784  전북        전용면적 102㎡초과  2018   6    2794
2785  전남                 전체  2018   6    2356
2786  전남         전용면적 60㎡이하  2018   6    2228
2787  전남   전용면적 60㎡초과 85㎡이하  2018   6    2346
2788  전남  전용면적 85㎡초과 102㎡이하  2018   6    2627
2789  전남        전용면적 102㎡초과  2018   6    2469
2790  경북                 전체  2018   6    2631
2791  경북         전용면적 60㎡이하  2018   6    2471
2792  경북   전용면적 60㎡초과 85㎡이하  2018   6    2614
2793  경북  전용면적 85㎡초과 102㎡이하  2018   6     NaN
2794  경북        전용면적 102㎡초과  2018   6    2903
2795  경남                 전체  2018   6    2695
2796  경남         전용면적 60㎡이하  2018   6    2744
2797  경남   전용면적 60㎡초과 85㎡이하  2018   6    2673
2798  경남  전용면적 85㎡초과 102㎡이하  2018   6    2857
2799  경남        전용면적 102㎡초과  2018   6    2862
2800  제주                 전체  2018   6    3925
2801  제주         전용면적 60㎡이하  2018   6    5462
2802  제주   전용면적 60㎡초과 85㎡이하  2018   6    3639
2803  제주  전용면적 85㎡초과 102㎡이하  2018   6     NaN
2804  제주        전용면적 102㎡초과  2018   6    3029

[2805 rows x 5 columns]

In [13]:
df.shape

(2805, 5)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2805 entries, 0 to 2804
Data columns (total 5 columns):
지역명        2805 non-null object
규모구분       2805 non-null object
연도         2805 non-null int64
월          2805 non-null int64
분양가격(㎡)    2674 non-null object
dtypes: int64(2), object(3)
memory usage: 109.6+ KB

In [ ]:
import numpy as np

data = np.random.randint(-100, 100, 50).cumsum()

In [ ]:
plt.ylabel('주식 가격')